@font-face{
    font-family: "hp";
    src: url("./Parry\ Hotter.ttf");
    font-weight: 600;
    font-style: normal;
}
.hello{
    font-size: 60px;
    font-family: 'hp';
}
.myIcon{
    width: 50%;
}
.myPng{
    width:50%;
}